Connected Services/SoapService/AppsService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppsService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppsService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DisturbedAppsProject.Entities" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DisturbedAppsProject.Entities" minOccurs="0" name="PlayList" nillable="true" type="q1:ArrayOfPlayList" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="SongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" type="xs:float" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DisturbedAppsProject.Entities" minOccurs="0" name="PlayList" nillable="true" type="q2:PlayList" />
      <xs:element minOccurs="0" name="PlayListId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongDTO" nillable="true" type="tns:SongDTO" />
  <xs:complexType name="PlayListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DisturbedAppsProject.Entities" minOccurs="0" name="Song" nillable="true" type="q3:ArrayOfSong" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DisturbedAppsProject.Entities" minOccurs="0" name="User" nillable="true" type="q4:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayListDTO" nillable="true" type="tns:PlayListDTO" />
  <xs:complexType name="ArrayOfPlayListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayListDTO" nillable="true" type="tns:PlayListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayListDTO" nillable="true" type="tns:ArrayOfPlayListDTO" />
  <xs:complexType name="ArrayOfSongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongDTO" nillable="true" type="tns:SongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongDTO" nillable="true" type="tns:ArrayOfSongDTO" />
</xs:schema>